table.table {
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  padding: 0.25em;
  text-align: center;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table tr:hover td,
.selected {
  background-color: #2196F3;
  color: white;
}


@media screen and (max-width: 800px) {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid black;
  }

  td,
  th {
    flex: 1 1 150px;
    border: 0.5px solid black;
  }
}