table.table {
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  padding: 0.25em;
  text-align: center;
}

.table tr:hover td,
.selected {
  background-color: #2196f3;
  color: white;
}

.table-responsive-label {
  display: none;
}

@media screen and (max-width: 800px) {
  .labels {
    display: none;
  }
  .table-responsive-label {
    display: block;
  }
  tr {
    border: 1px solid #2196f3;
  }
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
  }
  td,
  th {
    flex: 1 1 150px;
  }
}
